<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang bạn đọc</title>
</head>
<body>
    <h1>Trang bạn đọc</h1>
    <p>Xin chào, <span th:text="${currentUser.ten}">Bạn đọc</span></p>
    <p>Bạn đọc đã đăng nhập bằng email và số điện thoại.</p>
    <ul>
        <li><a th:href="@{/bandoc/lichsu}">Xem lịch sử mượn trả</a></li>
        <li><a th:href="@{/bandoc/tracuu}">Tra cứu tài liệu</a></li>
    </ul>
    <a th:href="@{/logout}">Đăng xuất</a>
</body>
</html>
